.clock {
    .inner {
        position: relative;
        height: 2em;
        border: 1px solid black;
        max-width: 100%;
        overflow: hidden;

        .current {
            position: absolute;
            height: 100%;
            background-color: red;
            width: 2px;
        }
        .block {
            position: absolute;
            height: 100%;
            border-left: 1px solid black;
            overflow: hidden;
        }
    }
    .toggle-details {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        background-color: yellow;
        border-radius: 15px;
        padding: 0px 5px 3px 5px;
    }
    &:hover .toggle-details {
        display: block;
    }
}
